<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1638</integer>
	<key>capHeight</key>
	<integer>1456</integer>
	<key>copyright</key>
	<string>Copyright (c) 2012 by vernon adams. All rights reserved.</string>
	<key>descender</key>
	<integer>-410</integer>
	<key>familyName</key>
	<string>Topmarks Book</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>note</key>
	<string></string>
	<key>openTypeHeadCreated</key>
	<string>2011/04/16 12:30:13</string>
	<key>openTypeNameDescription</key>
	<string>Copyright (c) 2011 by vernon adams. All rights reserved.</string>
	<key>openTypeNameDesigner</key>
	<string>vernon adams</string>
	<key>openTypeNameManufacturer</key>
	<string>vernon adams</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Topmarks</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Book</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>8</integer>
		<integer>5</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>newt</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>0</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>0</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-26</integer>
		<integer>0</integer>
		<integer>1026</integer>
		<integer>1051</integer>
		<integer>1438</integer>
		<integer>1453</integer>
		<integer>1456</integer>
		<integer>1483</integer>
		<integer>1490</integer>
		<integer>1526</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-464</integer>
		<integer>-427</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>20</integer>
		<integer>125</integer>
		<integer>137</integer>
		<integer>142</integer>
		<integer>148</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>165</integer>
		<integer>172</integer>
	</array>
	<key>postscriptWeightName</key>
	<string>Normal</string>
	<key>styleName</key>
	<string>Book</string>
	<key>trademark</key>
	<string>Topmarks is a trademark of vernon adams.</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>1026</integer>
</dict>
</plist>
