<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1638</integer>
	<key>capHeight</key>
	<integer>1449</integer>
	<key>descender</key>
	<integer>-410</integer>
	<key>familyName</key>
	<string>Topmarks</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>openTypeHheaAscender</key>
	<integer>2420</integer>
	<key>openTypeHheaDescender</key>
	<integer>-1053</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1638</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-410</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>670</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1638</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>410</integer>
	<key>postscriptBlueFuzz</key>
	<integer>2</integer>
	<key>postscriptBlueScale</key>
	<real>0.07528750000000001</real>
	<key>postscriptBlueShift</key>
	<integer>13</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-35</integer>
		<integer>0</integer>
		<integer>1026</integer>
		<integer>1048</integer>
		<integer>1449</integer>
		<integer>1483</integer>
		<integer>1490</integer>
		<integer>1532</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFullName</key>
	<string>Topmarks Bold</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-787</integer>
		<integer>-721</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>39</integer>
		<integer>243</integer>
		<integer>267</integer>
		<integer>276</integer>
		<integer>288</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>321</integer>
		<integer>334</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>0</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>0</integer>
	<key>postscriptWeightName</key>
	<string>Bold</string>
	<key>styleName</key>
	<string>Bold</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>xHeight</key>
	<integer>999</integer>
</dict>
</plist>
