<div class="row-fluid">
    <div class="margins">
        
       <div class="span12">
           
            <p class="leadbox" style="">About Topmarks Fonts</p>
           
            <div class="boxText">
                <h5><img src="assets/images/button-green.png" style="height:34px"/>
                The Basics</h5>
                <p>The Topmarks fonts have been designed to complement the way letter and number formation is taught in early years classrooms.</p>
                <p>The fonts have been born out of the frustration faced by teachers, who struggle to find fonts that completely match the letter and number styles that they teach.</p>
                
<p>When young children are learning to read and write it makes sense that the letterforms they use make character recognition easier when reading, and also directs them to making correct marks, as handwriting. Traditionally, typefaces for reading are separate from handwriting, as they have different roots. Topmarks uses a type model that has it's roots in both hand written letterforms and book type.</p>
                <p>The fonts are ideal for teaching and have many uses from printables such as worksheets, posters and class display materials, through to digital technologies such as word processing, interactive whiteboard resources and on web sites.</p>
                
                <p>The Topmarks family of fonts are also;</p>
                <ul style="list-style-type:circle">
                    <li>Free and easy to get;</li>
                    <li>Free to use, share, give away and alter.</li>
                    <li>Simple and straightforward letterforms to give excellent legibility and recognition.</li>
                    <li>Simple forms to help children easilly make recognisable letterforms and writing</li>
                    </ul>
                <p>To accommodate the variations in the way that letters and numbers are formed, we are planning to provide alternative versions of characters, so you can make the font to appear just the way you’d like.</p>
            </div>

       </div>
</div>
</div>
<hr>
    <!-- #############################END SECTION############### -->

    <div class="row-fluid">

        <div class="margins">
            
            <div class="span6">
<h5>Helping pen movement</h5>
                <img src="assets/images/abc.png" style="padding:0 0 11px 8px"><br>
</div>
            <div class="span6">
                
                <img src="assets/images/abc-line.png" style="padding:38px 0"><br>
            </div>
            <div class="span12">

            <p>The letterforms of Topmarks have been designed to direct children to the best ways to write letterforms when the write by hand (see above).</p>
            </div>


</div>
</div>

<hr>

    <!-- #############################END SECTION############### -->
  
        <div class="row-fluid">
            <div class="margins">
                <div class="span6">
                    <h5>Uniformity and Distinctiveness</h5>

                    <img src="assets/images/lit.png" style="padding:0 0 31px 8px">
                        
                </div>
                <div class="span6">

                    <img src="assets/images/igloo.png" style="padding:34px 0 18px 21px">
                        
                        </div>
                <div class="span12">

                <p>The letterforms of Topmarks have been shaped to enable easy character recognition.</p>
                <p>The forms have been kept simple and straightforward. Uniformity and repetition of form is used to amplify the similarity of some forms whilst amplifying the difference of others.</p>
                </div>

                
            </div>
        </div>
   <hr>
    <!-- #############################END SECTION############### -->
    <div class="row-fluid">
        <div class="margins">
            <h5>In and Out strokes</h5>

            <div class="span5">
                
                <img src="assets/images/nau.png" style="">

                    </div>
            <div class="span5">
                
                <img src="" style="">

                    </div>
            <div class="span12">

                                <p>The letterforms of Topmarks have been shaped to enable easy character recognition and to direct children in the best ways to write letterforms when the write by hand (see above).</p>
            </div>
           </div>
         
    </div>
    
    <!-- #############################END SECTION############### -->
