<div class="row">
        
    <div class="col-10 col-offset-1">
        
        <!-- 2 DIVS at END -->

        
        <div class="col-md-6 col-lg-6">
            
                <div class="page-header"><h4>Designing Topmarks Fonts</h4></div>

            <div class="jumbotron">

                <p>Topmarks fonts are designed to complement the way letter and number formation is taught in early years classrooms.</p>
 </div>
                
                <p>The Topmarks fonts have been developed out of the frustration of teachers, not finding fonts that completely match the letter and number styles that they teach, and not finding fonts that can be easily used and freely shared for teaching purposes.</p>
                
                 <p>The Topmarks fonts are ideal for teaching and have many uses, from printables, such as worksheets, posters and class display materials, through to digital technologies such as word processing, interactive whiteboard resources and on web sites. The fact that Topmarks Fonts are Free Software means that all these uses can be covered freely and easilly, without the extra costs and complications that restrictive licensing can bring into the classroom.</p>
                 
                 <p>Also, to accommodate the variations in the way that letters and numbers are formed and taught, it is planned that the Topmarks fonts will contain alternative versions of some characters, so that teachers can make the font to appear exactly the way they need to in their classrooms.</p>
                

               
                
                
                
            
            <div class="page-header"><h4>Uniformity and Distinctiveness</h4></div>
            <div class="jumbotron"><p>The letterforms of Topmarks have been shaped to enable easy character recognition.</p></div>
            
            <img src="assets/images/lit.png" class="img-responsive" alt="Responsive image">
            
            <p>When young children are learning to read and write it makes sense that the letterforms they use make character recognition easy when reading.</p>
             <p>The letterforms of Topmarks have been kept simple and straightforward. Uniformity and repetition of form is used to amplify the similarity of some forms whilst amplifying the differences of others.</p>
            <img src="assets/images/ocedg.png" class="img-responsive" alt="Responsive image">
                                    
                   
                    
                   </div>
        
     
        

        <div class="col-sm-6 col-lg-6">
    <div class="page-header"><h4>Helping pen movement</h4></div>
<div class="jumbotron"><p>Traditionally, typefaces for reading are separate from handwriting, as they have different roots. Topmarks uses a type model that has it's roots in both hand written letterforms and book type.</p></div>
                <img src="assets/images/abc.png" class="img-responsive" alt="Responsive image" ><br>
            <img src="assets/images/abc-line.png" class="img-responsive" alt="Responsive image" ><br>
            <p>The letterforms of Topmarks have been shaped to help direct children in the best ways to write letterforms when writing by hand (see above).</p>
            <p>'In strokes' guide the hand into each letter, and the 'out strokes' guide the hand to the direction in which the letter ends and on to where the next letter starts to be formed.</p>
<img src="assets/images/nail.png" class="img-responsive" alt="Responsive image" style="">
                    <img src="" style="">
                        <p>The form of each letter makes writing more straightforward and helps the formation of each character flow into the formation of the next character. These movements complement and underline the standard ways in which handwriting is taught to early learners.</p>
                        
</div>
    <!-- #############################END SECTION############### -->

    </div></div>
