<div class="row-fluid">
    <div class="margins">
        
       <div class="span12">
           
            <p class="leadbox" style="">About Topmarks Fonts</p>
           
            <div class="boxText">
                <h4>The Basics</h4>

                <p>The basic idea behind Topmarks is to create a family of fonts that work in the following ways;</p>
                <ul style="list-style-type:circle">
                    <li>Free and easy to get;</li>
                    <li>Free to use, share, give away and alter.</li>
                    <li>Simple and straightforward letterforms to give excellent legibility and recognition.</li>
                    <li>Simple forms to help children easilly make recognisable letterforms and writing</li>



                    </ul>

                <p>When young children are learning to read and write it makes sense that the letterforms they use make character recognition easier when reading, and also directs them to making correct marks, as handwriting. Traditionally, typefaces for reading are separate from handwriting, as they have different roots. Topmarks uses a type model that has it's roots in both hand written letterforms and book type.</p>
            </div>

       </div>
</div>

    <div class="row-fluid">

        <div class="margins">
            
            <div class="span6">
<h4>Helping pen movement</h4>
                <img src="assets/images/abc.png" style="padding:0 0 21px 8px"><br>
                    <p>The letterforms of Topmarks have been designed to direct children to the best ways to write letterforms when the write by hand (see above).</p>
</div>
            <div class="span6">
                
                <img src="assets/images/abc-line.png" style="padding:29px 0"><br>
            </div>

</div>
</div>

<hr>

    
        <div class="row-fluid">
            <div class="margins">
                <div class="span6">
                    <h4>Uniformity and Distinctiveness</h4>

                    <img src="assets/images/lit.png" style="padding:0 0 11px 8px">
                        <p>The letterforms of Topmarks have been shaped to enable easy character recognition. The letterforms of Topmarks have been kept simple and straightforward, and uniformity and repetition of form is used to amplify the uniformity of some forms whilst amplifying the difference of other forms.</p>
                </div>
                <div class="span6">
                    <h4>In and Out strokes</h4>

                    <img src="assets/images/nau.png" style="padding:12px 0 21px 0">
                        <p>The letterforms of Topmarks have been shaped to enable easy character recognition and to direct children in the best ways to write letterforms when the write by hand (see above).</p>
                        </div>
                
                
            </div>
        </div>
           
           
</div>
    
    </div>
</div>
