<!-- GRAPHIC CONTENT -->
        <hr>
        <div class="row-fluid">
        <div class="span3 nailCenter"> <img alt="one" src="images/apple.svg" width="300px">
          <p style="color:#556655;font-family:'topmarksregular';font-size:5.8em;line-height:1.2em;letter-spacing:0.1em;">Aa</p>
        </div>
        <div class="span3 nailCenter"> <img alt="one" src="images/banana.svg" width="300px">
          <p style="color:#556655;font-family:'topmarksregular';font-size:5.8em;line-height:1.2em;letter-spacing:0.1em;">Bb</p>
        </div>
        <div class="span3 nailCenter"> <img alt="one" src="images/coconut.svg"
            width="300px">
          <p style="color:#556655;font-family:'topmarksregular';font-size:5.8em;line-height:1.2em;letter-spacing:0.1em;">Cc</p>
        </div>
         <div class="span3 nailCenter"> <img alt="one" src="images/melon.svg" width="300px">
          <p style="color:#556655;font-family:'topmarksregular';font-size:5.8em;line-height:1.2em;letter-spacing:0.1em;">Mm</p>
        </div>
        </div>
        <hr>
