<br>
<div class="row">
        
    <div class="col-sm-10 col-lg-10 col-offset-1">
        
            <p class="leadbox" style="background-image:url('assets/images/arrow.png');">Designing Topmarks Fonts</p>

            
            <div class="col-sm-6 col-lg-6">
<h5>Helping pen movement</h5>
                <img src="assets/images/abc.png" class="img-responsive" alt="Responsive image" style="padding:0 0 11px 8px"><br>
</div>
            <div class="col-sm-6 col-lg-6">
                
                <img src="assets/images/abc-line.png" class="img-responsive" alt="Responsive image" style="padding:38px 0"><br>
            </div>
            <div class="col-sm-12 col-lg-12">

            <p>The letterforms of Topmarks have been designed to direct children to the best ways to write letterforms when the write by hand (see above).</p>
                <hr>
</div>


</div></div>


    <!-- #############################END SECTION############### -->
  
        <div class="row">
            <div class="col-sm-10 col-lg-10 col-offset-1">

                <div class="col-sm-6 col-lg-6">
                    <h5>Uniformity and Distinctiveness</h5>

                    <img src="assets/images/lit.png" class="img-responsive" alt="Responsive image">
                        
                </div>
                <div class="col-sm-6 col-lg-6">

                    <img src="assets/images/igloo.png" class="img-responsive" alt="Responsive image" style="margin:60px 0 50px 0">
                        
                        </div>
                <div class="col-sm-12 col-lg-12">

                <p>The letterforms of Topmarks have been shaped to enable easy character recognition.</p>
                <p>The forms have been kept simple and straightforward. Uniformity and repetition of form is used to amplify the similarity of some forms whilst amplifying the difference of others.</p>
                    <hr>
</div>

 
            </div>
</div>
    <!-- #############################END SECTION############### -->
    <div class="row">
        <div class="col-sm-10 col-lg-10 col-offset-1">

            <div class="col-sm-5 col-lg-5">
                <h5>In and Out strokes</h5>

                <img src="assets/images/nau.png" class="img-responsive" alt="Responsive image" style="">

                    </div>
            <div class="col-sm-5 col-lg-5">
                
                <img src="" style="">

                    </div>
            <div class="col-sm-12 col-lg-12">

                                <p>The letterforms of Topmarks have been shaped to enable easy character recognition and to direct children in the best ways to write letterforms when the write by hand (see above).</p>
            </div>
           </div></div>
         
    
    <!-- #############################END SECTION############### -->
