<div class="row-fluid">
<div class="span12">
<h4>Donate to Topmarks Fonts</h4>
If you wish to donate to the development of the Topmarks Fonts you can do so with paypal or flattr. To donate simply click below on the button of your choice.

<p style="margin-top:21px"><a href="http://flattr.com/thing/1209725/topmarksfont" target="_blank">
<img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a>
</p>
<p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="Z5AYXV5VPHUN4">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" width="100%" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</p>
</div></div>
