<div class="row-fluid">
<div class="span12">
<h4>Download and try the fonts</h4>
<p>To download and test the Topmarks fonts use the link below. The fonts are supplied in both OpenType and TrueType formats. Please note that although the fonts do contain basic Latin character sets the current state of the fonts is still at a 'beta' stage. If you find any issues or wish to suggest changes, please email <a href="mailto:beta@topmarksfont.org">topmarks fonts</a></p>
<section id="downloads">
          <a href="http://topmarksfont.org/Topmarks.1.beta.zip" class="btn"><span>Topmarks-fonts-beta.1.zip</span></a>
        </section>
        </div>
</div>
