<div>
<p>If you wish to download and test the Topmarks fonts please use the links below. The fonts are supplied in both OpenType and TrueType formats. Please note that the current state of the fonts are at 'beta' stage. If you find any issues or wish to suggest changes, please email <a href="mailto:beta@topmarksfont.com"></a>topmarks fonts</p>
<section id="downloads">
          <a href="https://github.com/vernnobile/topmarks/zipball/binaries" class="btn"><span>Download .zip</span></a>
          <a href="https://github.com/vernnobile/topmarks/tarball/binaries" class="btn"><span>Download .tar.gz</span></a>
        </section>
        </div>
