<div>
<div class="specimen">a b c d e f g h i j k l m n o p q r s t u v w x y z A B C D E F G H I J K L M N O P Q R S T U V W X Y Z ! ? ( 0 1 + 2 = 3 4 5 6 7 8 9 = ) * & @ <span style="font-size:1em">Topmarks regular</span></div>
<h4>Download and try the fonts</h4>
<p>If you wish to download and test the Topmarks fonts please use the links below. The fonts are supplied in both OpenType and TrueType formats. Please note that although the fonts do contain basic Latin character sets the current state of the fonts is still at a 'beta' stage. If you find any issues or wish to suggest changes, please email <a href="mailto:beta@topmarksfont.com">topmarks fonts</a></p>
<section id="downloads">
          <a href="https://github.com/vernnobile/topmarks/zipball/binaries" class="btn"><span>Topmarks-fonts.zip</span></a>
          <a href="https://github.com/vernnobile/topmarks/tarball/binaries" class="btn"><span>Topmarks-fonts.tar.gz</span></a>
        </section>
        </div>
