<div class="row-fluid">
<div class="span12">
<div class="subheader">
Topmarks Regular & Bold
</div>
        <!-- MAIN SLIDER CONTENT -->
<div id="myCarousel" class="carousel.fade">
  <div class="specimen-inner">
<p style="font-family:'topmarksbook'; font-size:3em; line-height:1.1em; letter-spacing:-3px">
a b c d e f g h i j k l m n o p q r s t u v w x y z  A B C D E F G H I J K L M N O P Q R S T U V W X Y Z ! ? 9 8 7 6
</p>
<p style="font-family:'topmarksbook'; font-size:2.5em; line-height:1.1em; letter-spacing:-3px">
a b c d e f g h i j k l m n o p q r s t u v w x y z  A B C D E F G H I J K L M N O P Q R S T U V W X Y Z ! ? 9 8 7 6 5 4 3 2 1
</p>
<p style="font-family:'topmarksbook'; font-size:2em; line-height:1.1em; letter-spacing:-3px">
a b c d e f g h i j k l m n o p q r s t u v w x y z  A B C D E F G H I J K L M N O P Q R S T U V W X Y Z ! ? 9 8 7 6 5 4 3 2 1</p>
<!-- BOLD VERSION -->
<hr>
<p style="font-family:'topmarksbold'; font-size:3em; line-height:1.1em; letter-spacing:-4px">
a b c d e f g h i j k l m n o p q r s t u v w x y z  A B C D E F G H I J K L M N O P Q R S T U V W X Y Z ! ? 9 8 7 6 
</p>
<p style="font-family:'topmarksbold'; font-size:2.6em; line-height:1.1em; letter-spacing:-4px">
a b c d e f g h i j k l m n o p q r s t u v w x y z  A B C D E F G H I J K L M N O P Q R S T U V W X Y Z ! ? 9 8 7 6 5 4 3 2 1 
</p>
<p style="font-family:'topmarksbold'; font-size:2em; line-height:1.1em; letter-spacing:-4px">
a b c d e f g h i j k l m n o p q r s t u v w x y z  A B C D E F G H I J K L M N O P Q R S T U V W X Y Z ! ? 9 8 7 6 5 4 3 2 1 
</p>
</div>
  </div>
</div>
 <!-- END MAIN SLIDER CONTENT -->

       

