<!-- top navigation bar -->
      <div id="topnavbar"> <a id="forkme_banner" href="https://github.com/vernnobile/topmarks">View on GitHub</a></div>
      <!-- MAIN PAGE -->
<!-- header -->
        <div class="navbar navbar-static-cont-width navbar-teal"> <img style="padding-right:105px;padding-bottom:3px;"
            alt="tick"
            src="images/tick.png"
            height="20px"
            width="21px">Topmarks
          Fonts </div>
        <h5>A free, open, and easy to use typeface, for children's learning</h5>
        <!-- end header -->
