<!DOCTYPE html>
<html lang="en">
  <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link href="http://fonts.googleapis.com/css?family=Muli:400,300" rel="stylesheet" type="text/css">
      <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">

    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <link href="stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
    <link href="assets/fonts/font-awesome.min.css" rel="stylesheet">
    <link href="assets/fonts/fonts.css" rel="stylesheet" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Topmarks font family">


    <title>Topmarks Fonts</title>
        <!--[if IE 6]>
        <link href="assets/Bootstrap-IE6/ie6.min.css" rel="stylesheet">
        <![endif]-->
  </head>
        <body style="background-color:#fff;">


