<!DOCTYPE html>
<html>
  <head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
       <link href="stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/fonts.css" rel="stylesheet" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Topmarks : topmarks font family">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <title>Topmarks</title>
  </head>
  <body style="background-color:#eee">
  <div class="row-fluid">
<div class="span8 offset2">
    
