<div class="row-fluid">
    <div class="margins">
<div class="span4">
<p class="leadbox">About the design of Topmarks Fonts</p>
<p>The design of Topmarks fonts is based on the Free Software font 'Muli'.</p>
<p>Muli has already proved a useful font in classrooms, as it is a simple and very legible design, so it was a good starting point for Topmarks. The underlying basic structure of Topmarks and Muli are the same, so they also make good companions when used together.</p>
<p>Topmarks is being developed in various weights and versions to suit the different needs found in children's learning.</p>
</div>
        <div class="span4">
        <p class="leadbox">Roadmap & Funding</p>
        <p>The Topmarks Fonts have been steadily under development for nearly 12 months. It is now planned to raise development funding via <i>indiegogo</i> so that the fonts can be developed further, and completed in a more concentrated effort.</p>
        <p>If you want to add to Topmarks' funding, please visit the Topmarks Fonts indiegogo site.</p>
    </div>
            <div class="span4">
            <p class="leadbox">Feedback</p>
            <p>The Topmarks Fonts have been steadily under development for nearly 12 months. It is now planned to raise development funding via <i>indiegogo</i> so that the fonts can be developed further, and completed in a more concentrated effort.</p>
            <p>If you want to add to Topmarks' funding, please visit the Topmarks Fonts indiegogo site.</p>
            </div>
</div>
</div>
