 <div class="row-fluid">
     <div class="margins">
         <div class="span4">
             <p class="leadbox" style="">About Topmarks Fonts</p>
             <div class="picBox" style="background-image:url('assets/images/stock/mhYdcFo-1.jpg');background-size:300px 200px;background-position:-5px -30px">
<p class="boxText"></p>
</div>
             <div class="boxText">
<p>Topmarks fonts are a typeface family being developed in response to teachers and educators who find a lack of suitable fonts available for everyday use in infant learning. The aim of developing the Topmarks fonts is to widen the choice of suitable typefaces available for use in creating teaching and educational resources for young children.</p>
             </div></div>
         
         
         
         <div class="span4">
             <p class="leadbox" style="background-image:url('assets/images/arrow.jpg');">Free Software</p>
             <div class="picBox" style="background-image:url('assets/images/stock/iStock_000016282637XSmall.jpg');background-size:300px 200px;background-position:0 -50px;text-align:left;"><br><br><br><img src="assets/images/OFLlogos/PNG/OFLLogoRectColor.png">
                 <p class="boxText"></p>
                 </div>
             <div class="boxText">
<p>The Topmarks fonts are released under the Open Font License, so the fonts can be used freely in all kinds of ways, including; printing, as webfonts, and, embedding in digital documents and applications. Being Free Software, the Topmarks fonts can be used in commercial or non-commercial works, shared, given away, or even altered. </p>
         </div></div>
         
         <div class="span4">
             <p class="leadbox" style="background-image:url('assets/images/arrow.jpg');">Designing Topmarks Fonts</p>
             <div class="picBox" style="background-image:url('assets/images/stock/sketchbook-orange.jpg');background-position:0 -19px;"></div>
             <div class="boxText">
                 <p>'Topmarks' is based on the Free Software font 'Muli'. Muli has already proved a useful font in classrooms, because of it's straightforward and legible design.</p><p>Topmarks is being developed in various weights and versions to suit various needs found in children's learning.</p></div>
         </div>

                  
        
     
 </div></div>