        <!-- MAIN TEXT CONTENT -->
            
              <div class="row">
              <div class="span4 nailCenter"> <img alt="one" src="images/apple.svg" width="100%">
        </div>
              <div class="span4">
        <h4>About the design</h4>
            <p>The Topmarks fonts are based on the free software font family
              'Muli', a sans-serif typeface that has already proven popular with
              children and teachers. The forms of Muli are straightforward and easy to read, but lack other type features that can help young children starting to form their own handwriting. The Topmarks design takes the basic Muli letterforms but also incorporates forms and functions that are helpfull to young.</p></div>
              <div class="span4">
        <h4>Free and open</h4>
            <p>The Topmarks fonts are based on the free software font family
              'Muli', a sans-serif typeface that has already proven popular with
              children and teachers. The forms of Muli are straightforward and easy to read, but lack other type features that can help young children starting to form their own handwriting. The Topmarks design takes the basic Muli letterforms but also incorporates forms and functions that are helpfull to young.</p></div>
 </div>
              <p style="color:#444;font-family:'topmarksbook';font-size:3.4em;line-height:1.4em;letter-spacing:-0.05em">a
              b c d e f g h i j k l m n o p q r s t u v w x y z<br/>A
              B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
              <hr>
                     <div class="row-fluid"> <div class="span5 offset1"><img src="images/features1.svg" /></div>
                      <div class="span5 offset1"><p style="color:#666;font-family:'topmarksbook';font-size:3.8em;line-height:1.0em;">apple banana coconut</p>
            <p style="color:#666;font-family:'mulimedium';font-size:3.8em;line-height:1em;">apple banana coconut</p>
</div>
            </div>
