<div class="row-fluid">
    <div class="margins">
        
        
        <div class="span4">
            <p class="leadbox" style="">Getting Topmarks Fonts</p>
            <div class="boxText">
            <p>First versions of the Topmarks fonts are freely available. Download them from the links below. The fonts are in both OpenType and TrueType formats. There is also a webfont kit available for using the Topmarks fonts in web pages.</p></div>
            <li><a href="">Topmarks Fonts</a></li>
            <li><a href="">Topmarks Webfont Kit</a></li>
        </div>

        
        <div class="span4">
        <p class="leadbox" style="background-image:url('assets/images/arrow.jpg');">Roadmap and Funding</p>
            
            <div class="boxText">
<p>The Topmarks Fonts have been steadily under development for nearly 12 months. It is now planned to raise development funding via <i>indiegogo</i> so that the fonts can be developed further, and completed in a full and concentrated effort.</p>
        <p>If you want to add to Topmarks' funding, please visit the Topmarks Fonts indiegogo site.</p></div>
    </div>
            <div class="span4">
            <p class="leadbox" style="background-image:url('assets/images/arrow.jpg');">Feedback</p>
                
                <div class="boxText">
<p>The Topmarks Fonts have been steadily under development for nearly 12 months. It is now planned to raise development funding via <i>indiegogo</i> so that the fonts can be developed further, and completed in a more concentrated effort.</p>
            <p>If you want to add to Topmarks' funding, please visit the Topmarks Fonts indiegogo site.</p></div>
            </div>
</div>
</div>
