<div class="">
<div class="span1 specimen">a</div>
<div class="span1 specimen">b</div>
<div class="span1 specimen">c</div>
<div class="span1 specimen">d</div>
<div class="span1 specimen">e</div>
<div class="span1 specimen">f</div>
<div class="span1 specimen">g</div>
<div class="span1 specimen">h</div>
<div class="span1 specimen">i</div>
<div class="span1 specimen">j</div>
<div class="span1 specimen">k</div>
<div class="span1 specimen">l</div>
<div class="span1 specimen">m</div>
<div class="span1 specimen">n</div>

<p>The Topmarks fonts are a free, open, and easy to use family of fonts to be used in children's learning. The project aims to widen the choice of suitable typefaces that can be used freely and easily in everyday teaching.</p>
</div>
