 <div class="row-fluid">
 <div class="span12">

<p class="lead">Roadmap</p>
<p style="font-family:'Roboto'">The Topmarks Fonts have been slowly under development for over 12 months. It is now planned to raise development funding via <i>indiegogo</i> so that the fonts can be developed further and completed in a more concentrated effort.</p>
<p style="font-family:'Roboto'">
Six weights of Topmarks Sans are planned; Thin,Light,Regular,Medium,Bold,Heavy, plus italics, and two weights of Topmarks Mono;00 Regular and Bold</p>

<p class="lead">Non Latin Support</p>
<p style="font-family:'Roboto'">An aim of the next phase of the development of the Topmarks Fonts is to provide full support for Cyrillic and Greek scripts. </p>

<p class="lead">Getting Topmarks Fonts</p>
<p style="font-family:'Roboto'">The fonts can be downloaded as font files, or you can clone and pull the whole development repository from github.</p>
</div></div>