<div class="">
<h4>Development status</h4>
<div class="progress">
  <div class="bar bar-warning" style="width: 33%;">current status</div>
</div>
<div class="progress">
  <div class="bar bar-danger" style="width: 10%;">basic design</div>
  <div class="bar bar-warning" style="width: 30%;">regular and bold weights</div>
  <div class="bar bar-warning" style="width: 25%;">add cursive versions</div>
    <div class="bar bar-info" style="width: 25%;">add extra weights</div>
  <div class="bar bar-success" style="width: 10%;">final release</div>
</div>

</div>
