<div class="row-fluid">
    <div class="margins">
<div class="span12 sliderBox" style="background-image:url('assets/images/stock/75Small.jpg');background-size:100%;background-position:0px -90px">
    <p style="font-family:topmarks; font-size:12em; color:#fff;line-height:2em;text-align:center;text-shadow: 0px 0px 33px #eee;">topmarks</p>
    <p style="margin-top:-100px;padding: 0 0 0 400px;font-family:topmarks; font-size:1.2em; color:#fff;line-height:0em;text-align:center;text-shadow: 0px 0px 33px #eee;">fonts for children's learning</p>
</div>
</div>
</div>