<div class="row-fluid">
    <div class="margins">
<div class="span12 sliderBox" style="background-image:url('assets/images/stock/75Small.jpg');background-size:908px 580px;background-position:0px -60px;background-repeat:no-repeat;">
    <p style="font-family:'topmarksbold'; font-size:12em; color:#fff;line-height:2.5em;text-align:center;text-shadow: 0px 0px 33px #eee;">topmarks</p>
    <p style="margin-top:-140px;padding: 0 0 0 430px;font-family:'topmarksbook'; font-size:1.2em; color:#fff;line-height:0em;text-align:center;text-shadow: 0px 0px 33px #eee;">fonts for children's learning</p>
</div>
</div>
</div>