<div class="row-fluid">
<div class="span12">

        <!-- MAIN SLIDER CONTENT -->
<div id="myCarousel" class="carousel.fade">
  <!-- <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol> -->
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><img style="float:right" src="assets/images/topmarks-array.png" /></div>
  </div>
</div>

 <!-- END MAIN SLIDER CONTENT -->

</div>
</div>

       

