<div class="row-fluid" style="background-color:white">
<div class="span12" style="padding:21px;overflow:hidden;">
<p style="color:#37a;font-size:1.2em;line-height:2em">Specimen - Oxygen Sans Regular</p>
<p>
Oxygen Sans Regular 3em</p>
<p style="font-family:'oxygensansbook'; font-size:3em; line-height:1.1em; letter-spacing:-4px">
a b c d e f g h i j k l m n o p q r s t u v w x y z
<br>
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ * ] 0 1 2 3 4 5 6 7 8 9 , . ! ?
</p>
<p style="font-family:'oxygensansbook'; font-size:3em; line-height:1.1em; letter-spacing:0px">
Hamburg Badhesion Wallflower</p>
<hr>
<p>Oxygen Sans Regular 2.2em</p>
<p style="font-family:'oxygensansbook'; font-size:2.2em;line-height:1.1em;letter-spacing:-2px">
a b c d e f g h i j k l m n o p q r s t u v w x y z
<br>
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ * ] 0 1 2 3 4 5 6 7 8 9 , . ! ?</p>
<p style="font-family:'oxygensansbook'; font-size:2.2em; line-height:1.1em; letter-spacing:0px">
Hamburg Badhesion Wallflower Indiana Nonseasoned Knocked Outback Felony</p>
<hr>
<p>Oxygen Sans Regular 1.5em</p>
<p style="font-family:'oxygensansbook'; font-size:1.5em;line-height:1.1em;letter-spacing:-2px">
a b c d e f g h i j k l m n o p q r s t u v w x y z
<br>
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ * ] 0 1 2 3 4 5 6 7 8 9 , . ! ?</p>
<p style="font-family:'oxygensansbook'; font-size:1.5em; line-height:1.1em; letter-spacing:0px">
Hamburg Badhesion Wallflower Indiana Nonseasoned Serviced Tightly Mission Outback Felony Snoozing Rocker</p>
<hr>
<p>Oxygen Sans Regular 0.9em</p>
<p style="font-family:'oxygensansbook'; font-size:0.9em; line-height:1.1em; letter-spacing:-1px">
a b c d e f g h i j k l m n o p q r s t u v w x y z
<br>
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ * ] 0 1 2 3 4 5 6 7 8 9 , . ! ?
</p>
<p style="font-family:'oxygensansbook'; font-size:0.9em; line-height:1.1em; letter-spacing:0px">
Custom nosey, impugned gooier deeper oat charade smashed welting clopping. Fondly discard welfare gaudy mission shoddily, mooed knelling glance golfed trope? Togae knocked vulgarly gigabyte curbing snowball, "outback stepped marmot clayier, coltish descry gratify" root freedom. Puree urgency moist careered journal oracle felony marble! Salary readying besiege twitched ranching snoozing disk mister warbling outwit schism sudsiest street, gondola, blushing pennon smarted jiving sty rocker griping rocketry gliding tarring. A very big box sailed up then whizzed quickly from Japan, the five boxing wizards jump quickly pack my red box with five dozen quality jugs.</p>
<hr>
</div>
</div>