<div class="row-fluid" style="padding-top:21px;">
<div class="span6">Topmarks Book<div class="specimen" style="font-family:topmarksbook">a b c d e f g h i j k l m n o p q r s t u v w x y z A B C D E F G H I J K L M N O P Q R S T U V W X Y Z ! ? ( 0 1 + 2 = 3 4 5 6 7 8 9 = ) * & @ </div>
</div>
<div class="span6">Topmarks Bold<div class="specimen" style="font-family:topmarksbold; letter-spacing:-0.055em;">a b c d e f g h i j k l m n o p q r s t u v w x y z A B C D E F G H I J K L M N O P Q R S T U V W X Y Z ! ? ( 0 1 + 2 = 3 4 5 6 7 8 9 = ) * & @ </div>
</div>
</div>
