<hr>
<div class="row-fluid">
<div class="span10">
<p class='fracs' style="font-family:'topmarksbook'; font-size:4em; line-height:1em;">
0123456789. (1+2=3,50%)</p>
<p class='fracs' style="font-family:'topmarksbook'; font-size:3.5em; line-height:1em;">
0123456789. (1+2=3,50%)</p>
<p class='fracs' style="font-family:'topmarksbook'; font-size:3em; line-height:1em;">
0123456789. (1+2=3,50%)</p>
<p style="font-family:'topmarksbook'; font-size:2.5em;line-height:1em;">
0123456789. (1+2=3,50%)</p>
</p>
<p style="font-family:'topmarksbook'; font-size:2em;line-height:1em;">
0123456789. (1+2=3,50%)</p>
</p>
<p style="font-family:'topmarksbook'; font-size:1.5em;line-height:1em;">
0123456789. (1+2=3,50%)</p>
</p>
<p style="font-family:'topmarksbook'; font-size:1em;line-height:1em;">
0123456789. (1+2=3,50%)</p>
</p>
</div>
</div>
<hr>
