<hr>
<div class="row-fluid">
<div class="span10">
<p style="font-family:'topmarksbook'; font-size:3em; line-height:1em;font-variant-numeric: diagonal-fractions">
1+1=2 4+5=20 1/2 3/4 1/4 When? Mouse! 50%
</p>
<p style="font-family:'topmarksbook'; font-size:2.5em;line-height:1em;">
1+1=2 4+5=20 1/2 3/4 1/4 When? Mouse! 50%
</p>
<p style="font-family:'topmarksbook'; font-size:2em;line-height:1em;">
1+1=2 4+5=20 1/2 3/4 1/4 When? Mouse! 50%
</p>
<p style="font-family:'topmarksbook'; font-size:1.5em;line-height:1em;">
1+1=2 4+5=20 1/2 3/4 1/4 When? Mouse! 50%
</p>
<p style="font-family:'topmarksbook'; font-size:1em;line-height:1em;">
1+1=2 4+5=20 1/2 3/4 1/4 When? Mouse! 50%
</p>
</div>
</div>
<hr>
