<div class="row top_menu">

<div class="col-9 col-sm-9 col-lg-9 col-offset-1">

<div class="btn-group">
<button type="button" style="background:#456788;" class="btn btn-small"><a href="index.html">home</a></button>
<button type="button" class="btn btn-default btn-small"><a href="about.html">about</a></button>
<button type="button" class="btn btn-default btn-small"><a href="specimen.html">specimens</a></button>
<button type="button" class="btn btn-default btn-small"><a href="indiegogo.html">indiegogo</a></button>
<button type="button" class="btn btn-default btn-small"><a href="https://github.com/vernnobile/topmarks">github</a></button>
<button type="button" class="btn btn-default btn-small"><a href="download.html">downloads</a></li>
</div>
</div>

    <div class="col-1 col-sm-1 col-lg-1">
<button type="button" class="btn btn-default btn-small"><a href="download.html">Help Topmarks</a></button>
    </div>

    </div>

