<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>familyName</key>
	<string>Topmarks</string>
	<key>styleName</key>
	<string>Book</string>
	<key>copyright</key>
	<string>Copyright (c) 2012-13 by vernon adams. All rights reserved.</string>
	<key>trademark</key>
	<string>Topmarks is a trademark of vernon adams.</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>xHeight</key>
	<integer>1026</integer>
	<key>capHeight</key>
	<integer>1449</integer>
	<key>ascender</key>
	<integer>1638</integer>
	<key>descender</key>
	<integer>-410</integer>
	<key>italicAngle</key>
	<real>0</real>
	<key>note</key>
	<string></string>
	<key>openTypeHeadCreated</key>
	<string>2013/03/18 19:57:39</string>
	<key>openTypeHheaAscender</key>
	<integer>1960</integer>
	<key>openTypeHheaDescender</key>
	<integer>-625</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>vernon adams</string>
	<key>openTypeNameManufacturer</key>
	<string>vernon adams</string>
	<key>openTypeNameDescription</key>
	<string>Copyright (c) 2011 by vernon adams. All rights reserved.</string>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2VendorID</key>
	<string>newt</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1638</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-410</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1638</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>410</integer>
	<key>postscriptFontName</key>
	<string>Topmarks-Book</string>
	<key>postscriptFullName</key>
	<string>Topmarks Book</string>
	<key>postscriptWeightName</key>
	<string>Medium</string>
	<key>postscriptUnderlineThickness</key>
	<integer>0</integer>
	<key>postscriptUnderlinePosition</key>
	<integer>0</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-35</integer>
		<integer>0</integer>
		<integer>1026</integer>
		<integer>1048</integer>
		<integer>1449</integer>
		<integer>1483</integer>
		<integer>1490</integer>
		<integer>1532</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-494</integer>
		<integer>-457</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>20</integer>
		<integer>125</integer>
		<integer>137</integer>
		<integer>142</integer>
		<integer>148</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>165</integer>
		<integer>172</integer>
	</array>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
</dict>
</plist>
