body {
background-color:#ccc;
}

  #mainFooter {  
  background-color: silver;  
  width: 100%;  
  padding-top: 13px;  
  padding-right: 13px;  
  padding-bottom: 13px;  
  padding-left: 13px;  
  height: 44px;
}

.navbar-static-cont-width {  
  margin-top: 13px;  
  margin-right: auto;  
  margin-bottom: 0px;  
  margin-left: auto;  
  padding-top: 10px;  
  padding-right: 10px;  
  padding-bottom: 10px;  
  padding-left: 10px;
}

.navbar {  
  text-transform:lowercase;
  font-family:'mulimedium';
  margin-bottom: 0px;  
  overflow: visible;  
  color: #003366;  
  font-size: 2.1em;  
  margin-top: 21px;  
  font-weight: 700;  
  letter-spacing: -0.05em;  
}

.navbar-teal {  
  background-color: white;  
  border-top-color: #999999;  
  border-right-color: #999999;  
  border-bottom-color: #999999;  
  border-left-color: #999999;  
  border-top-width: 1px;  
  border-right-width: 1px;  
  border-bottom-width: 1px;  
  border-left-width: 1px;  
  border-top-style: solid;  
  border-right-style: solid;  
  border-bottom-style: solid;  
  border-left-style: solid; 
-webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

#project_tagline {  
  font-size: 1.6em;  
  color: #5e6268;  
font-weight: 300;
}

hr {  
  
  border-top-color: silver;  
  border-right-color: silver;  
  border-bottom-color: #999999;  
  border-left-color: silver;  
  border-top-width: thin;  
  border-right-width: thin;  
  border-bottom-width: thin;  
  border-left-width: thin;  
  border-top-style: none;  
  border-right-style: none;  
  border-bottom-style: solid;  
  border-left-style: none;
}

#topnavbar {  
  background-color: #004587;  
  background-image: -webkit-linear-gradient(top, #0E182C 0px, #0C1C3C 15px);
  background-image: -o-linear-gradient(to #0E182C 0px, #0C1C3C 15px);
  background-image: -ms-linear-gradient(top, #0E182C 0px, #0C1C3C 15px);
  background-image: -moz-linear-gradient(top, #0E182C 0px, #0C1C3C 15px);
  /* Impossible to translate property background-image for webkit20110101 */
  background-image: linear-gradient(to top, #0E182C 0px, #0C1C3C 15px);  
  color: #cccccc;  
  font-size: 13px;  
  font-style: normal;  
  font-variant: normal;  
  font-weight: normal;  
  height: 28px;  
  line-height: 28px;  
  z-index: 99999;  
  padding-left: 8px;
-webkit-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
}

#topnavbar a {  
  color: #cccccc;
}


.nailCenter {  
  text-align: center;
}

