.specimen {
font-family: 'topmarksbook';
color:#fff;
color-background:#ccc;
font-size:2.5em;
padding:5px;
border:solid 1px #ddd;
line-height:1.2em;
margin-bottom:0.3em;}

body {
background-color:#ccc;
line-height:1.8em;
}

  #mainFooter {  
  background-color: silver;  
  width: 100%;  
  padding-top: 13px;  
  padding-right: 13px;  
  padding-bottom: 13px;  
  padding-left: 13px;  
  height: 44px;
}

/* =Navigation
----------------------------------------------- */
.navbar-static-cont-width .navbar-inner {padding-left:10px 10px 3px 10px;min-height:40px;}
.navbar-static-cont-width {padding:10px 10px 3px 10px;}
@media (min-width: 1200px) {
  .navbar-static-cont-width {width:100%;}
}
@media (max-width: 1199px) {
	.navbar-static-cont-width {width:100%;}
}
@media (min-width: 768px) and (max-width: 979px) {
	.navbar-static-cont-width {width:100%;}
}
@media (max-width: 767px) {
	.navbar-static-cont-width {width:auto;}
}

.navTitle {
	color:white;
	padding-left:10px;
	font-size:1.6em;
	font-weight:700;
}
.navbar {  
	margin-top:20px;
background-color: #49AFCD;
background-image: -moz-linear-gradient(top, #2F96B4, #335C85);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2F96B4), to(#335C85));
background-image: -webkit-linear-gradient(top, #2F96B4, #335C85);
background-image: -o-linear-gradient(top, #2F96B4, #335C85);
background-image: linear-gradient(to bottom, #2F96B4, #335C85);
background-repeat: repeat-x;
  border:1px solid #D4D4D4;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  box-shadow:rgba(0, 0, 0, 0.0627451) 0 1px 4px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
border-color: #2F96B4 #2F96B4 #1F6377;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); 
}

body .navbar-teal .navbar-inner,.navbar-teal .dropdown-menu li > a:hover, .navbar-teal .dropdown-menu li > a:focus, .navbar-teal .dropdown-submenu:hover > a,.navbar-teal .dropdown-menu .active > a, .navbar-teal .dropdown-menu .active > a:hover {
background-color: #49AFCD;
background-image: -moz-linear-gradient(top, #5BC0DE, #2F96B4);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BC0DE), to(#2F96B4));
background-image: -webkit-linear-gradient(top, #5BC0DE, #2F96B4);
background-image: -o-linear-gradient(top, #5BC0DE, #2F96B4);
background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
border-color: #2F96B4 #2F96B4 #1F6377;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar.navbar-teal .nav > .active > a, .navbar.navbar-teal .nav > .active > a:hover, .navbar.navbar-teal .nav > .active > a:focus,.navbar.navbar-teal .nav li.dropdown.open > .dropdown-toggle, .navbar.navbar-teal .nav li.dropdown.active > .dropdown-toggle, .navbar.navbar-teal .nav li.dropdown.open.active > .dropdown-toggle {color: #fff;background-color: #2F96B4;}


#project_tagline {  
  font-size: 1.6em;  
  color: #5e6268;  
font-weight: 300;
}

hr {  
  
  border-top-color: silver;  
  border-right-color: silver;  
  border-bottom-color: #999999;  
  border-left-color: silver;  
  border-top-width: thin;  
  border-right-width: thin;  
  border-bottom-width: thin;  
  border-left-width: thin;  
  border-top-style: none;  
  border-right-style: none;  
  border-bottom-style: solid;  
  border-left-style: none;
}

#topnavbar {  
  background-color: #004587;  
  background-image: -webkit-linear-gradient(top, #000 0px, #303030 15px);
  background-image: -o-linear-gradient(to #000 0px, #303030 15px);
  background-image: -ms-linear-gradient(top, #000 0px, #303030 15px);
  background-image: -moz-linear-gradient(top, #000 0px, #303030 15px);
  /* Impossible to translate property background-image for webkit20110101 */
  background-image: linear-gradient(to top, #000 0px, #303030 15px);  
  color: #cccccc;  
  font-size: 13px;  
  font-style: normal;  
  font-variant: normal;  
  font-weight: normal;  
  height: 28px;  
  line-height: 28px;  
  z-index: 99999;  
  padding-left: 8px;
}

#topnavbar a {  
  color: #cccccc;
}


.nailCenter {  
  text-align: center;
}

